/*<------------
    RESET
--------------->*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*<------------
    COMMON
--------------->*/
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    max-width: 1150px;
    margin: 20px auto;
}

/*<------------
    TYPOGRAPHY
--------------->*/
body{
    font-family: 'Fredoka', sans-serif;
    background-color: #fffffe;
}

h1 {
    color: #E53170;
    text-align: center;
}

p {
    text-align: center;
    margin: 30px auto;
}

/*<------------
    MAIN
--------------->*/