/*<------------
    RESET
--------------->*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*<------------
    COMMON
--------------->*/
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    max-width: 1150px;
    margin: 20px auto;
}

/*<------------
    TYPOGRAPHY
--------------->*/
body{
    font-family: 'Fredoka', sans-serif;
    background-color: #fffffe;
}

h1 {
    color: #E53170;
    text-align: center;
}

h3, span {
    color: #fffffe;
}

p {
    text-align: center;
    margin: 30px auto;
}

a {
    color: #5acce3;
    text-decoration: none;
    display: inline-block;
    line-height: 25px;
}
/*<------------
    MAIN
--------------->*/

.row-members {
    margin-bottom: 40px;
}

.col-members {
    width: calc(100% / 3 - 20px);
    background-color: #0f0e17;
    float: left;
    margin: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.member-photo {
    height: 100px;
    width: 100px;
    display: block;
    float: left;
}

.info-member {
    width: calc(100% - 100px);
    float: left;
    padding: 10px 15px;
    line-height: 25px;
}
